@import '_vars';

.header {
	background-color: $dark_color;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 20px;

	.buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		gap: 30px;
	}
}
