@import '../_vars';

.options {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;

	.config {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		flex-direction: column;

		input:not(.no-default) {
			background-color: $dark_color;
			padding: 10px 15px;
			border: 0;
			border-radius: 5px;
			margin: 15px auto;
			color: white;
			width: 180px;
			user-select: none;
			text-align: center;

			&::placeholder {
				color: white;
			}
		}

		.change-input {
			width: 20px !important;
			font-size: 15px;
			text-transform: uppercase;

			&::-webkit-inner-spin-button {
				display: none;
			}
		}

		.open_button {
			background-color: $dark_color;
			border: 0;
			border-radius: 5px;
			margin: 15px auto;
			color: white;
			width: 50px;
			height: 35px;
			user-select: none;
			text-align: center;
			font-size: 15px;
			font-family: $settings_font;
			cursor: pointer;
			transition: background-color 0.3s ease-in-out;

			&:hover {
				background-color: darken($dark_color, 15%);
			}
		}

		div {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
		}
	}
}
