@import '../_vars';

.data {
	margin-top: 25px;
	display: flex;
	align-items: center;
	flex-direction: column;

	.enter {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;

		#entered_text:first-child {
			background-color: $dark_color;
			padding: 10px 15px;
			border: 0;
			border-radius: 5px;
			margin: 15px auto;
			color: white;
			width: 180px;

			&::placeholder {
				color: white;
				opacity: 0.8;
				font-weight: 500;
				font-size: 15px;
			}
		}

		@import '_select';
	}
}
